@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@theme {
  --color-background-light: #F9FAFB;
  --color-background-dark: #111827;


}